body{
	
}

.navbar-inverse {
    background-color: #fafafa;
    border-color: #ccc;
}
.whitefont{
	color: #fff;
}
.wellazul {
   	left: 0; 
   	bottom: 0;
   	color: #ddd;
  	background-color: #073A59;
  	border-color: #ddd;	
}

.iconos{
	width: 70%;
}

.logo{
	margin: 1%;
}

.about{
	margin: 2%;
}
.table th{
	color: #337ab7;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #eeeeea;
}

.fixcolumoperation{
	width: 100px;
	margin: 0 auto;
}