body{
	
}
.rwd {
    width: 100%;
    overflow: auto;
    display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.btninicio{
	margin: 7px 5px 10px 40px;
	padding: 10px;
}
.estado{
	width: 33px;
	float: left;
}
.cuadroblanco{
	background: #FFF;
	width: 220px;
	color: #073A59;
	float: left;
	padding: 2px;
	margin: 2px;
}

.cajita{
	margin: 2px;
	float: left;
	width: 98%;
}
.navarmia {
	margin-top: 7px;
}

.navbarusu {
	margin-top: 7px;
}

.navbar {
	height: 77px;
}

.navbar-brand {
	padding-top: 0px;
}

.navtop{
	margin-top: 17px;
}
.navtopsalir{
	margin-top: 4px;
}

//Inicio no collapse 
.navbar-collapse.collapse {
display: block!important;

}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
background: #f8f8f8;
}

.menutitle{
	display: none;
}

//No collapse
.navbar-ppal{
	background-color: #f09;
	margin-top: 30px;
	margin-right: 0px;
    margin-left: 0px;
}

.navbar-textmio {
	background-color: #f00;
	float: left;
	margin: 15px 0 15px 0;
}

.breadcrumb{
	margin-top: 5px;
}
.navbarimglogo{
	background: url('../images/logopeq77.png')no-repeat;
	height: 70px;
	width: 170px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus ,
.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
.navbarimglogo .dropdown .open{
	background-color: transparent;
}
.navbar-nav > li > a{
	min-height: 57px;
	background-color: transparent;
	margin: 0px;
	padding-bottom: 0px;
}
.menuazul{
  	background-color: #073A59;
	color: white;	
	padding: 7px;
}

.menuazul a{
	color: #eeeeea;
	margin: 7px;
}
.iconosd{
	margin: 4px;
}

.whitefont{
	color: #fff;
}

.wrap > .container {
    padding: 87px 15px 20px;
}

.wellazul {
   	left: 0; 
   	bottom: 0;
   	color: #ddd;
  	background-color: #073A59;
  	border-color: #ddd;	
}

.imgdatos{
	background: url('../images/iconos/people.png')no-repeat;
	margin-top: 10px;
}

.iconos{
	width: 50%;
}

.iconomodelo{
	width: 100%;
}

.logo{
	margin: 1%;
}

.about{
	margin: 2%;
}
.table th{
	color: #337ab7;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #eeeeea;
}

.fixcolumoperation{
	width: 100px;
	margin: 0 auto;
}

//Inicio validacion era verde ahora azul
.has-success .control-label, .has-success .radio,
 .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, 
 .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, 
 .has-success.checkbox-inline label {
    color: #286090;
}

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label {
    color: #31708f;
}

.has-success .form-control {
  //  border-color: #286090;
}

.letraazul{
	font-size: 140%;
	color: #337ab7;
	font-style: italic;
}

.btn{
		margin-bottom: 4px;
}

.btnvacio{
	background: transparent;
	border-style: none;
	color: #337ab7;
	margin: 0; 
}
//Para autocomplete
.ui-autocomplete-input{
	border: 1px solid #ccc;
    border-radius: 4px;
    background: #300;
}
	
@media screen and (max-width: 767px) { 
	.navbar-nav {
    	margin: 4px -15px;
	}
	.navbar-nav .open .dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px;
    margin: 2px 0 0 27px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #073A59;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	}

	.menutitle{
		display: block;
		width: 100px;
		text-align: center;
	}
	
	.navarmia {
    	position: absolute;
    	right: 27px;
    	top: 70px;
   		width: 187px;
		border: 1px solid #ccc;
	    border: 1px solid rgba(0, 0, 0, .15);
	    border-radius: 4px;
	    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
		
	}

	.iconos{
		width: 57%;
	}

	.btninicio{
		min-height: 130px;
		margin: 7px 5px 10px 10px;
	}
}

