body{
	margin: -20px;
	background: url('../images/fondo.png')no-repeat;
	background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
 
}

.iconos{
	width: 70%;
}

.logo{
	margin: 2%;
}

.about{
	margin: 2%;
}
.table th{
	color: #337ab7;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #eeeeea;
}

.fixcolumoperation{
	width: 100px;
	margin: 0 auto;
}


@media screen and (max-width: 470px) { 
	.logo{
		margin-top:   170px;
		width: 200px;
	}
}