body{
	margin: -20px;
	background: url('../images/fondo.png')no-repeat;
	background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
 
}

.iconos{
	width: 70%;
}

.logo{
	margin: 2%;
	margin-bottom: 4%;
}

.about{
	margin: 2%;
}
.table th{
	color: #337ab7;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #eeeeea;
}

.fixcolumoperation{
	width: 100px;
	margin: 0 auto;
}


@media screen and (max-width: 767px) and (min-width: 470px) { 
	body{
	background: url('../images/fondo.png')no-repeat;
	background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    -o-background-size: contain;
 }

	.container {
    	width: 90%;
	}
	.logo{
		margin-top:   -5%;
		margin-bottom: 12%;
		width: 45%;
	}

	.iconos{
		width: 57%;
	}
}

@media only screen and (max-width: 470px) and (min-width: 300px)  { 
	body{
	background: url('../images/fondo.png')no-repeat;
	background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    -o-background-size: contain;
 }
 	.container {
    	width: 357px;
	}
	.logo{
		margin-top:   -10%;
		width: 40%;
	}
}