body{
	margin: 0px;
	top: 0;

	background: #fff url('../images/fondopeq.png')no-repeat;
	background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
        -o-background-size: contain;
 
}

.iconos{
	width: 70%;
}

.logo{
	margin-top: -110px;
	height: 50px;
}

.about{
	margin: 2%;
}
.table th{
	color: #337ab7;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #eeeeea;
}

.fixcolumoperation{
	width: 100px;
	margin: 0 auto;
}